*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./clouds-7613361_1920.png);


}
#akın{
    text-align: center;
}
div{
    margin: 10px;
    padding: 10px;

}
form{
    background-color:#8EC5FC; ;
    display: inline-block;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
.akn{
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: brown;


}





